<h2>Add Address</h2>
<div class="thin">Search and add a new address location</div><br>

<div class="container">
   <div class="search-box-container">
      <input #searchBox type="text" pInputText placeholder="Search for an address..." class="search-box" />
      <button pButton class="current-location-btn">
         <i class="pi pi-map-marker"></i>
      </button>
   </div>

   <div #mapContainer [ngClass]="{'map-container': true, 'shrink': isFormVisible}"></div>

   <div class="centered">
      <button pButton label="Add Address" class="add-btn" (click)="openForm()"></button>
   </div>

   <div *ngIf="isFormVisible" class="form">
      <div class="form-group">
         <div class="address_details">Name</div>
         <input pInputText id="address_details" type="text" [(ngModel)]="formData.address_details"
            name="address_details" />
      </div>

      <div class="form-group">
         <div class="address_details">Phone</div>
         <input pInputText id="city" type="text" [(ngModel)]="formData.city" name="city" />
      </div>

      <div class="form-group">
         <div class="address_details">Address Title</div>
         <input pInputText id="state" type="text" [(ngModel)]="formData.state" name="state" />
      </div>

      <div class="form-group">
         <div class="address_details">Floor, Flat, House.no, Building, Apartment</div>
         <input pInputText id="country" type="text" [(ngModel)]="formData.country" name="country" />
      </div>

      <div class="form-group">
         <div class="address_details">Landmark</div>
         <input pInputText id="postal_code" type="text" [(ngModel)]="formData.postal_code" name="postal_code" />
      </div>

      <div class="form-group">
         <div class="address_details">Address Details</div>
         <input pInputText id="latitude" type="text" [(ngModel)]="formData.latitude" name="latitude" readonly />
      </div>
   </div>
   <div class="form-group">
      <button pButton label="Save" class="save-btn" (click)="submitForm()"></button>
   </div>
</div>