.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.thin {
   font-weight: 300;
   font-size: 16px;
}

.card-container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   /* Add spacing between cards */
}

.customer-card {
   display: flex;
   align-items: center;
   gap: 1rem;
   cursor: pointer;
   /* Add spacing between avatar and details */
}

.customer-info {
   display: flex;
   flex-direction: column;
}

.customer-name {
   font-weight: bold;
   font-size: 16px;
}

.customer-mobile {
   font-size: 14px;
   color: gray;
}


.recent-order-item {
   border: 1px solid var(--primary-light);
   margin-bottom: 10px;
   border-radius: 8px;
   min-height: 90px;
   padding: 8px 12px;
   cursor: pointer;
   background: var(--background-light);
   /* Optional background for cards */
}

.recent-order-item:hover {
   box-shadow: 0px 0px 0.5px 1px var(--primary-light);
}

.selected {
   border-color: #007bff;
   background-color: #e6f7ff;
}