<div class="header">
   <div>
      <h2>All Customers</h2>
      <div class="thin">List of all your customers</div>
   </div>
   <button routerLink="/customers/new-customer" pButton type="button" icon="pi pi-plus" label="New Customer"
      class="p-button-outlined p-button-secondary">
   </button>
</div>

<br>

<div class="card-container">
   <!-- Card 1 -->
   <p-card *ngFor="let customer of customerList">
      <div class="customer-card">
         <p-avatar [image]="customer.image"
            size="large" shape="circle">
         </p-avatar>
         <div class="customer-info">
            <span class="customer-name">{{customer.first_name |titlecase}}</span>
            <span class="customer-mobile">{{customer.phone}}</span>
         </div>
      </div>
   </p-card>

</div>