<div class="header">
   <div>
      <h2>All Orders</h2>
      <div class="thin">List of all your orders</div>
   </div>
   <button routerLink="/orders/new-order" pButton type="button" icon="pi pi-plus" label="New Order" class="p-button-outlined p-button-secondary"></button>
</div>
<br>

<div class="recent-order-item">
   <div class="recent-order-flex">
      <div>
         <div class="maintext">Visitor</div>
         <div class="subtext">+91 9876543210</div>
      </div>
      <div>Order No: #1006</div>
   </div>
   <div class="recent-order-flex">
      <div class="address">
         Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </div>
      <button severity="warn" pButton type="button" label="Pending" class="p-button-outlined" size="small"></button>
   </div>
</div>
<div class="recent-order-item">
   <div class="recent-order-flex">
      <div>
         <div class="maintext">Visitor</div>
         <div class="subtext">+91 9876543210</div>
      </div>
      <div>Order No: #1006</div>
   </div>
   <div class="recent-order-flex">
      <div class="address">   
         Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </div>
      <button severity="warn" pButton type="button" label="Pending" class="p-button-outlined" size="small"></button>
   </div>
</div>
<div class="recent-order-item">
   <div class="recent-order-flex">
      <div>
         <div class="maintext">Visitor</div>
         <div class="subtext">+91 9876543210</div>
      </div>
      <div>Order No: #1006</div>
   </div>
   <div class="recent-order-flex">
      <div class="address">
         Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </div>
      <button severity="warn" pButton type="button" label="Pending" class="p-button-outlined" size="small"></button>
   </div>
</div>
<div class="recent-order-item">
   <div class="recent-order-flex">
      <div>
         <div class="maintext">Visitor</div>
         <div class="subtext">+91 9876543210</div>
      </div>
      <div>Order No: #1006</div>
   </div>
   <div class="recent-order-flex">
      <div class="address">
         Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </div>
      <button severity="warn" pButton type="button" label="Pending" class="p-button-outlined" size="small"></button>
   </div>
</div>
<div class="recent-order-item">
   <div class="recent-order-flex">
      <div>
         <div class="maintext">Visitor</div>
         <div class="subtext">+91 9876543210</div>
      </div>
      <div>Order No: #1006</div>
   </div>
   <div class="recent-order-flex">
      <div class="address">
         Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </div>
      <button severity="warn" pButton type="button" label="Pending" class="p-button-outlined" size="small"></button>
   </div>
</div>
<div class="recent-order-item">
   <div class="recent-order-flex">
      <div>
         <div class="maintext">Visitor</div>
         <div class="subtext">+91 9876543210</div>
      </div>
      <div>Order No: #1006</div>
   </div>
   <div class="recent-order-flex">
      <div class="address">
         Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </div>
      <button severity="warn" pButton type="button" label="Pending" class="p-button-outlined" size="small"></button>
   </div>
</div>