.layout-wrapper {
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.topbar {
   text-align: center;
   margin-top: 50px;
}

.logo {
   height: 150px;
   margin-bottom: 47px;
}

.auth-form {
   height: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}