<!-- <div class="header">
   <div >
      <h2>Select Address</h2>
      <div class="thin">Select any of the detailed addresses</div>

   </div>
   <button pButton type="button" icon="pi pi-map-marker" label="Select on Map" class="map-button " (click)="addPickUpAddress()"></button>

   <div>
   </div>
</div> -->



<div class="header">
   <div>
      <h2>Saved Address</h2>
      <!-- <div class="thin">List of addresses</div> -->
   </div>
   <button pButton type="button" type="button" icon="pi pi-map-marker" label="Add Address" (click)="addPickUpAddress()"
      class="p-button-outlined p-button-secondary" style="background-color: white;">
   </button>
</div>

<br>


<div class="recent-orders-container">
   <!-- Skeleton Loader -->
   <div *ngIf="loading">
      <div *ngFor="let item of [1, 2, 3, 4, 5, 6]" class="recent-order-item">
         <div class="recent-order-flex">
            <div>
               <p-skeleton [style]="{ 'height': '20px', 'width': '150px', 'margin-bottom': '5px' }"></p-skeleton>
               <p-skeleton [style]="{ 'height': '15px', 'width': '120px' }"></p-skeleton>
            </div>
            <div>
               <p-skeleton [style]="{ 'height': '20px', 'width': '100px' }"></p-skeleton>
            </div>
         </div>
         <div class="recent-order-flex">
            <p-skeleton [style]="{ 'height': '15px', 'width': '100%' }"></p-skeleton>
            <p-skeleton [style]="{ 'height': '15px', 'width': '80%' }"></p-skeleton>
         </div>
      </div>
   </div>
   <p-confirmdialog />
   <!-- Address List -->
   <div *ngIf="!loading && addressList.length > 0">
      <div class="recent-order-item" *ngFor="let address of addressLists; let i = index" >
         <!-- <div class="close-icon" (click)="removeAddress(i)">
            <i class="pi pi-times"></i>
         </div> -->
         <div style="width: 95%;">
         <div class="recent-order-flex">
            <div>
               <div class="maintext">{{ address.person_name | titlecase }}</div>
            </div>
          

               <!-- <p-toast /> -->

               <div class="subtext">{{ address.address_name | titlecase }}</div>
         
         </div>
         <div class="recent-order-flex">
            <div>
               <div class="address" *ngIf="address.house_no">
                  {{ address.house_no }}, {{ address.landmark }}
               </div>
             
               <div class="address bg-danger">
                  {{ address.address_details }}
               
               </div>
         
             
            </div>
         </div>
      </div>
      <div >
         <div  class="reverse ">
            <div class="close-icons "
            (click)="confirm2($event,address.id)">
            <i class="pi pi-times"></i>
       
      </div>
            <div class="edit-icon" > 
                  <i class="pi pi-pencil" (click)="navigateToEdit(address.id)"></i> </div>
            
          
           
         <!-- <p-dialog header="Confirm Deletion" [(visible)]="displayDialog" [modal]="true" [closable]="false">
            <p>Are you sure you want to delete this address?</p>
            <p-footer>
               <button type="button" pButton label="Cancel" icon="pi pi-times" (click)="cancelDelete()"></button>
               <button type="button" pButton label="Delete" icon="pi pi-check" (click)="deleteAddress()"></button>
            </p-footer>
         </p-dialog> -->
      </div>
      </div>
      </div>
   </div>

   <!-- Fallback Message -->
   <div *ngIf="!loading && addressList.length === 0">
      <p>No addresses available.</p>
   </div>
</div>