:root {
   --pure-white: #fff;
   --neutral-light: #f9f9f9;
   --neutral-main: #bdbdbd;
   --neutral-dark: #212121;

   --primary-light: rgb(25, 139, 205);
   --primary-main: #198CCD;

   --secondary-light: rgba(25, 140, 205, 0.1);
   --secondary-main: #198CCD;
   --secondary-dark: rgb(8, 54, 81);

   --info-lighter: #fafafa;
   --info-light: #f0f0f0;
   --info-main: #e0e0e0;
   --info-dark: #d6d6d6;
   --info-darker: #bdbdbd;

   --success-main: #4caf50;
   --success-dark: #1b5e20;

   --warning-light: #fff176;
   --warning-main: #ffc107;

   --error-light: #ffcdd2;
   --error-main: #f44336;
   --error-dark: #b71c1c;

   --text-primary: #3f51b5;
   --text-secondary: #212121;
   --text-disabled: #bdbdbd;

   --gradients-primary-main: #9c27b0;
   --gradients-primary-state: #5c6bc0;

   --gradients-secondary-main: #2196f3;
   --gradients-secondary-state: #81d4fa;
}