<form [formGroup]="form">
   <div *ngIf="loading" class="full-page-skeleton">
      <p-skeleton [width]="'100%'" [height]="'3rem'" class="heading-skeleton"></p-skeleton>
      <div *ngFor="let i of [1, 2, 3, 4]" class="card-skeleton">
         <p-skeleton [width]="'100%'" [height]="'6rem'"></p-skeleton>
      </div>
      <p-skeleton [width]="'100%'" [height]="'3rem'" class="heading-skeleton"></p-skeleton>
      <p-skeleton [width]="'100%'" [height]="'2rem'" class="input-skeleton"></p-skeleton>
      <p-skeleton [width]="'30%'" [height]="'3rem'" class="button-skeleton"></p-skeleton>
      <br />
      <div class="button-group">
         <p-skeleton [width]="'45%'" [height]="'3rem'"></p-skeleton>
         <p-skeleton [width]="'45%'" [height]="'3rem'"></p-skeleton>
      </div>
   </div>

   <div *ngIf="!loading">
      <h3>Select Vehicle<span class="mandatory">*</span></h3>
      <div class="vehicle-cards">
         <div *ngFor="let vehicle of vehicleTypeList" class="vehicle-card"
            [class.selected]="form.get('vehicleType')?.value === vehicle.id" (click)="selectVehicle(vehicle.id)">
            <img [src]="vehicle.image" alt="{{ vehicle.vehicle_type }}" class="vehicle-image" />
            <div class="vehicle-name">{{ vehicle.vehicle_type }}</div>
         </div>
      </div>

      <h3>Select Pickup Location<span class="mandatory">*</span></h3>
      <div *ngIf="!pickupLocation" class="card-container">
         <input class="mb" pInputText type="text" placeholder="Pickup Address" (click)="navigateToPickupSelect()" />
         <button pButton type="button" icon="pi pi-map-marker" label="Select on Map" class="map-button"></button>
      </div>
      <div *ngIf="pickupLocation" class="address-card">
         <div class="address-info">
            <div class="personal-info">
               <div>
                  <div class="personal-info-text">{{ pickupLocation.person_name }}</div>
                  <div class="mb-6">{{ pickupLocation.person_phone_no }}</div>
               </div>
               <!-- Close Button for Pickup -->
               <button class="close-button" (click)="clearPickupAddress()">
                  <i class="pi pi-times"></i> <!-- PrimeNG Close Icon -->
               </button>
            </div>
            <p>{{ pickupLocation.house_no }}, {{ pickupLocation.landmark }}</p>
            <p>{{ pickupLocation.address_details }}</p>
         </div>
      </div>

      <h3>Select Drop Location<span class="mandatory">*</span></h3>
      <div *ngIf="!dropLocation" class="card-container">
         <input class="mb" pInputText type="text" placeholder="Drop Address" (click)="navigateToDropSelect()" />
         <button pButton type="button" icon="pi pi-map-marker" label="Select on Map" class="map-button"></button>
      </div>
      <div *ngIf="dropLocation" class="address-card">
         <div class="address-info">
            <div class="personal-info">
               <div>
                  <div class="personal-info-text">{{ dropLocation.person_name }}</div>
                  <div class="mb-6">{{ dropLocation.person_phone_no }}</div>
               </div>
               <!-- Close Button for Drop -->
               <button class="close-button" (click)="clearDropAddress()">
                  <i class="pi pi-times"></i> <!-- PrimeNG Close Icon -->
               </button>
            </div>
            <p>{{ dropLocation.house_no }}, {{ dropLocation.landmark }}</p>
            <p>{{ dropLocation.address_details }}</p>
         </div>
      </div>

      <h3>Enter Parcel Details</h3>
      <div class="categories">
         <div class="c-item">Food</div>
         <div class="c-item">Book</div>
         <div class="c-item">Medicines</div>
         <div class="c-item">Documents</div>
         <div class="c-item">Grocery</div>
         <div class="c-item">Cake</div>
         <div class="c-item">Other</div>
      </div>

      <div class="card-container">
         <input class="mb" pInputText type="text" placeholder="Parcel Details" formControlName="parcelWeight" />
         <input pInputText type="text" placeholder="Instructions" formControlName="parcelDescription" />
      </div>

      <div class="bottom-buttons">
         <button pButton type="button" label="Cancel" class="p-button-outlined p-button-danger"></button>
         <button pButton type="submit" label="Continue" class="p-button-contained p-button-success"
            (click)="calculateDistanceNews()"></button>
      </div>
   </div>
</form>