<form [formGroup]="form">
   <div *ngIf="loading">

      <div class="recent-order-item">
         <div class="recent-order-flex">
            <div>
               <p-skeleton
                  [style]="{ 'height': '20px', 'width': '150px', 'margin-bottom': '5px','margin-top': '10px' }"></p-skeleton>
               <!-- <p-skeleton [style]="{ 'height': '15px', 'width': '120px','margin-bottom': '5px' }"></p-skeleton> -->
            </div>
            <!-- <div>
               <p-skeleton [style]="{ 'height': '20px', 'width': '100px' }"></p-skeleton>
            </div> -->
         </div>
         <!-- <p-skeleton [style]="{ 'height': '20px', 'width': '150px', 'margin-bottom': '5px' }"></p-skeleton> -->
         <div class="option-containers ">
            <ng-container *ngIf="loading">
               <p-skeleton class="option-item" *ngFor="let item of [1, 2, ]" width="90%" height="60px"></p-skeleton>
            </ng-container>

         </div>
         <p-skeleton
            [style]="{ 'height': '20px', 'width': '150px', 'margin-bottom': '5px','margin-top': '10px' }"></p-skeleton>
         <div class="option-container ">
            <ng-container *ngIf="loading">
               <p-skeleton class="option-item " *ngFor="let item of [1, 2, ]" width="90%" height="40px"></p-skeleton>
            </ng-container>

         </div>
         <p-skeleton
            [style]="{ 'height': '20px', 'width': '150px', 'margin-bottom': '5px' ,'margin-top': '10px' }"></p-skeleton>
         <div class="option-container ">
            <ng-container *ngIf="loading">
               <p-skeleton class="option-item" *ngFor="let item of [1, 2, ]" width="90%" height="40px"></p-skeleton>
            </ng-container>

         </div>
         <p-skeleton
            [style]="{ 'height': '20px', 'width': '150px', 'margin-bottom': '5px' ,'margin-top': '10px' }"></p-skeleton>
         <div class="option-containerss ">
            <ng-container *ngIf="loading">
               <p-skeleton class="option-item" *ngFor="let item of [1,2,3,4]" width="90%" height="40px"></p-skeleton>
            </ng-container>

         </div>
         <!-- <p-skeleton [style]="{   'margin-bottom': '5px' ,'margin-top': '10px' }"></p-skeleton> -->
         <div class="option-containerss " style="margin-top: 5px;">
            <ng-container *ngIf="loading">
               <p-skeleton class="option-item" *ngFor="let item of [1,2,3]" width="90%" height="40px"></p-skeleton>
            </ng-container>

         </div>
         <p-skeleton
            [style]="{ 'height': '20px', 'width': '150px', 'margin-bottom': '5px' ,'margin-top': '10px' }"></p-skeleton>
         <div class="option-container ">
            <!-- <p-skeleton [style]="{ 'height': '20px', 'width': '150px', 'margin-bottom': '5px' }"></p-skeleton> -->
            <ng-container *ngIf="loading">
               <p-skeleton class="option-item" *ngFor="let item of [1, 2, ]" width="90%" height="40px"></p-skeleton>
            </ng-container>

         </div>
         <!-- <div class="recent-order-item hovered" *ngFor="let item of [1]">
            <p-skeleton [style]="{ 'height': '30px', 'width': '100%' }"></p-skeleton>
            <p-skeleton [style]="{ 'height': '30px', 'width': '100%' }"></p-skeleton>
         </div>
         <div class="recent-order-item hovered" *ngFor="let item of [1, 2, 3]">
            <p-skeleton [style]="{ 'height': '10px', 'width': '100%' }"></p-skeleton>
            <p-skeleton [style]="{ 'height': '10px', 'width': '80%' }"></p-skeleton>
         </div> -->

      </div>

      <!-- Address List -->

   </div>

   <div *ngIf="!loading">
      <h3>Select Vehicle<span class="mandatory">*</span></h3>
      <div class="vehicle-cards">
         <div *ngFor="let vehicle of vehicleTypeList" class="vehicle-card"
            [class.selected]="form.get('vehicle_type_id')?.value === vehicle.id" (click)="selectVehicle(vehicle.id)">
            <img [src]="vehicle.image" alt="{{ vehicle.vehicle_type }}" class="vehicle-image" />
            <div class="vehicle-name">{{ vehicle?.vehicle_type }}</div>
         </div>
      </div>

      <h3>Select Pickup Location<span class="mandatory">*</span></h3>
      <div *ngIf="!pickupLocation" class="card-container">
         <!-- <input class="mb" pInputText type="text" placeholder="Pickup Address" (click)="navigateToPickupSelect()" /> -->
         <button pButton type="button" icon="pi pi-map-marker" label="Saved Address" class="map-buttons"
            (click)="navigateToPickupSelect()"></button>
         <button pButton type="button" label="Select on Map" class="map-button" (click)="addPickUpAddress('pickup')">
            <mat-icon class="icon">gps_fixed</mat-icon></button>
      </div>
      <div *ngIf="pickupLocation" class="address-card">
         <div class="address-info">
            <div class="personal-info">
               <div>
                  <div class="personal-info-text">{{ pickupLocation?.person_name | titlecase }}</div>
                  <div class="mb-6">{{ pickupLocation?.person_phone_no }}</div>
               </div>
               <!-- Close Button for Pickup -->
               <button class="close-button" (click)="clearPickupAddress()">
                  <i class="pi pi-times"></i> <!-- PrimeNG Close Icon -->
               </button>
            </div>
            <p *ngIf="pickupLocation?.house_no">{{ pickupLocation?.house_no }}, {{ pickupLocation?.landmark }}</p>
            <p>{{ pickupLocation?.address_details }}</p>
         </div>
      </div>
      <small *ngIf="submitted &&  !pickupLocation?.address_details " class="error-text">
         Pickup Address is required
      </small>
      <h3>Select Drop Location<span class="mandatory">*</span></h3>
      <div *ngIf="!dropLocation" class="card-container">
         <button pButton type="button" icon="pi pi-map-marker" label="Saved Address" class="map-buttons"
            (click)="navigateToDropSelect()"></button>
         <!-- <input class="mb" pInputText type="text" formControlName="drop_address" placeholder="Drop Address" (click)="navigateToDropSelect()" /> -->
         <button pButton type="button" label="Select on Map" class="map-button" (click)="addPickUpAddress('drop')"
            class="map-button">
            <mat-icon class="icon">gps_fixed</mat-icon></button>
      </div>
      <div *ngIf="dropLocation" class="address-card">
         <div class="address-info">
            <div class="personal-info">
               <div>
                  <div class="personal-info-text">{{ dropLocation?.person_name | titlecase }}</div>
                  <div class="mb-6">{{ dropLocation?.person_phone_no }}</div>
               </div>
               <!-- Close Button for Drop -->
               <button class="close-button" (click)="clearDropAddress()">
                  <i class="pi pi-times"></i> <!-- PrimeNG Close Icon -->
               </button>
            </div>
            <p *ngIf="dropLocation?.house_no">{{ dropLocation?.house_no }},<ng-container
                  *ngIf="dropLocation?.landmark">{{ dropLocation?.landmark }}</ng-container> </p>
            <p>{{ dropLocation?.address_details }}</p>
         </div>
      </div>
      <small *ngIf=" !dropLocation?.address_details &&  submitted " class="error-text">
         Drop Address is required
      </small>
      <h3>Enter Parcel Details <span class="mandatory">*</span></h3>
      <div class="categories">
         <div class="c-item" [class.selected]="form.get('package_details')?.value === category"
            (click)="setParcel(category)" *ngFor="let category of categories">{{ category }}</div>
         <!-- <div class="c-item">Book</div>
         <div class="c-item">Medicines</div>
         <div class="c-item">Documents</div>
         <div class="c-item">Grocery</div>
         <div class="c-item">Cake</div>
         <div class="c-item">Other</div> -->
      </div>


      <div class="card-containers">
         <input class="mb" pInputText type="text" placeholder="Parcel Details" formControlName="package_details"
            [ngClass]="{'error-border': submitted && form.get('package_details')?.invalid}" />
         <!-- <input pInputText type="text" placeholder="Instructions" formControlName="instructions" /> -->
      </div>
      <div class="card-containers">
         <!-- <textarea class="mb" pInputTextarea placeholder="Parcel Details" formControlName="package_details"
            [ngClass]="{'error-border': submitted && form.get('package_details')?.invalid}"></textarea> -->
         <textarea rows="5" cols="30" pTextarea placeholder="Instructions" formControlName="instructions"></textarea>
         <!-- <textarea pInputTextarea placeholder="Instructions" formControlName="instructions"
            style="height: 100px;"></textarea> -->
      </div>
      <small
         *ngIf="form.get('package_details')?.invalid && form.get('package_details')?.hasError('required') && form.get('package_details')?.touched"
         class="error-text">
         Parcel Details are required
      </small>
      <div class="bottom-buttons">
         <button pButton type="button" label="Cancel" class="p-button-outlined p-button-danger"
            (click)="cancel()"></button>
         <button pButton type="submit" [loading]="loading_button" [disabled]="loading_button" label="Continue"
            class="p-button-contained p-button-success" (click)="calculateDistanceNews()"></button>
      </div>
   </div>
</form>