<h2>Order Details</h2>
<div class="thin">Details of your order</div>
<!-- <br>
<div>
   <h4>Order Information</h4>
   <h4 class="add">Describes your order details</h4>
</div> -->

<div class="recent-order-item">
   <div class="main-container">
      <div class="left">
         <div class="header">Order No.</div>
         <div class="strong">#{{invoice?.order_no ? invoice?.order_no :0}}</div>
      </div>
      <div class="right">
         <div class="header">Payment Status</div>

         <!-- <div class="strong error">Unpaid</div> -->
         <div class="strong error">{{this.invoice?.bill_status =='1'?'Paid' :'Unpaid'}}</div>
         <!-- <div class="strong error"  @if="this.invoice?.bill_status =='0'">Unpaid</div>  -->

      </div>
   </div>
   <div class="main-container">
      <div class="left">
         <div class="header">Sender Name</div>
         <div class="strong">{{invoice?.pickup_name | titlecase}}</div>
      </div>
      <div class="right">
         <div class="header">Sender Phone</div>
         <div class="strong">{{invoice?.pickup_mobile}}</div>
      </div>
   </div>
   <div class="main-container">
      <div class="left">
         <div class="header">Receiver Name</div>
         <div class="strong">{{invoice?.drop_name | titlecase}}</div>
      </div>
      <div class="right">
         <div class="header">Receiver Phone</div>
         <div class="strong">{{invoice?.drop_mobile}}</div>
      </div>
   </div>



   <div class="main-container">
      <div class="left">
         <div class="header">Delivery Type</div>
         <div class="strong">{{delivery_name | titlecase}}</div>
      </div>
      <div class="right">
         <div class="header">Time Slot</div>
         <div class="strong">{{this.timeslot?.start_time?.slice(0, 5) }}-{{this.timeslot?.end_time?.slice(0, 5)}}</div>
      </div>
   </div>

   <div class="main-container">
      <div class="left">
         <div class="header">Date</div>
         <div class="strong">{{invoice?.for_booking_date}}</div>
      </div>
      <div class="right">
         <div class="header">Payment Mode</div>
         <div class="strong">{{ this.order?.delivery_payment_status !== 'cash'
            ? (this.order?.delivery_payment_status | titlecase)
            : (this.order?.pay_on_pickup == '0' ? 'Pay On Drop' : 'Pay On Pick up') }}</div>
      </div>
   </div>
   <div class="main-container">
      <div class="left">
         <div class="header">Amount</div>
         <div class="strong">{{this.businessDetails?.currency_symbol ?this.businessDetails?.currency_symbol :
            '₹'}}{{invoice?.subtotal}}</div>
      </div>

   </div>
</div>

<div>
   <h4>Rider Information</h4>
   <h4 class="add">Describes rider details allotted to order</h4>
   <div class="recent-order-item">
      <div class="main-container">
         <div class="left">
            <div class="header">Rider Name</div>
            <div class="strong">Rider</div>
         </div>
         <div class="right-icons">
            <!-- Phone Button -->
            <div class="first">
               <button pButton type="button" class="custom-button" (click)="makePhoneCall('9056342178')">
                  <i class="pi pi-phone"></i>
               </button>
            </div>
            <!-- Message Button -->
            <div>
               <button pButton type="button" class="custom-button" (click)="openMessageBox()">
                  <i class="pi pi-whatsapp"></i>
               </button>
            </div>
         </div>
      </div>
   </div>

</div>

<div>
   <h4>Pickup and Drop Locations</h4>
   <h4 class="add">Describes your order pickup and drop addresses</h4>
</div>
<div class="recent-order-item">
   <!-- Pickup Location -->
   <div class="recent-order-flex">
      <i class="pi pi-map-marker icon"></i>
      <div>
         <div class="add">Collect From:</div>
         <div class="address">
            {{order.pickup_address}}
         </div>
      </div>
   </div>

   <div class="timeline"></div>

   <!-- Drop Location -->
   <div class="recent-order-flex">
      <i class="pi pi-map-marker icon"></i>
      <div>
         <div class="add">Drop To: </div>
         <div class="address">
            {{order.drop_address}}
         </div>
      </div>
   </div>
</div>

<div class="flexed">
   <div>
      <h4>Track Order</h4>
      <h4 class="add">Describes your order current position</h4>
   </div>
   <button (click)="showTimeline()" pButton [label]="timelineshow ? 'Hide' : 'Show'"></button>
</div>
<div class="time-con" *ngIf="timelineshow">
   <p-timeline *ngIf="isMobile" [value]="events" [layout]="isMobile ? 'vertical' : 'horizontal'" align="alternate">
      <ng-template let-event pTemplate="content">
         <div class="timeline-item">

            <div class="icon-wrapper" [ngStyle]="{'color': event.color}">
               <i class="status-icon" [class]="event.icon"></i>
            </div>
            <div class="timeline-content">
               <h4 class="">{{ event.status }}</h4>
               <!-- <p>{{ event.description }}</p> -->
            </div>
         </div>
      </ng-template>
   </p-timeline>


   <p-timeline *ngIf="!isMobile" [value]="events" layout="horizontal" class="small-timeline">
      <!-- Custom Marker Icons -->
      <ng-template pTemplate="marker" let-event let-i="index">
         <i [class]="event.icon" style="font-size: 1.5rem"></i>
      </ng-template>

      <!-- Custom Content -->
      <ng-template pTemplate="content" let-event>
         <div class="p-d-flex p-ai-center">
            <div class="p-mr-2">
               <b>{{event.status }}</b>
            </div>
         </div>
      </ng-template>
   </p-timeline>

</div>