

<!-- ✅ Search Bar -->
<div class="search-bar" style="margin-bottom: 16px;">
   <input
      type="text"
      placeholder="Search contact "
      [(ngModel)]="searchQuery"
      (ngModelChange)="onSearchChange()"
      style="padding: 8px; width: 100%; border-radius: 20px; border: 1px solid #ccc;;background-color: #ffffff;"
   />
   <button pButton icon="pi pi-search" class="search-btn"></button>
</div>
<div class="header">
   <h2>Saved Contact</h2>
   <!-- <button (click)="logDebug()">🔍 Log Debug Info</button> -->
</div>

<br />
<!-- <div class="topbar">
<div class="search-bar" >
   <input type="text" placeholder="Search..."  [(ngModel)]="searchQuery"
   (ngModelChange)="onSearchChange()"/>
   <button pButton icon="pi pi-search" class="search-btn"></button>
</div>
</div> -->
<div class="recent-orders-container">
   <div *ngIf="filteredContacts.length > 0; else noContacts">
      {{filteredContacts.length }}
      <div
         class="recent-order-item"
         *ngFor="let contact of filteredContacts"
         [ngClass]="{ selected: isSelected(contact) }"
         (click)="selectContact(contact)"
      >
         <div
            class="recent-order-flex"
            style="display: flex; align-items: center; gap: 10px"
         >
            <!-- Circle DP -->
            <div class="circle-dp">
               {{ contact.displayName?.charAt(0) | uppercase }}
            </div>

            <!-- Contact Info -->
            <div>
               <div class="maintext">{{ contact.displayName | titlecase }}</div>
               <div class="subtext">
                  {{ contact.phoneNumbers?.join(", ") || "No number available" }}
               </div>
            </div>
         </div>
      </div>
   </div>

   <ng-template #noContacts>
      <p style="text-align: center; color: #999">No contacts available.</p>
   </ng-template>
</div>
