<div class="">
   <!-- Skeleton Loader -->
   <div *ngIf="loading">

      <div class="recent-order-item">
         <div class="recent-order-flex">
            <div>
               <p-skeleton [style]="{ 'height': '20px', 'width': '150px', 'margin-bottom': '5px' }"></p-skeleton>
               <p-skeleton [style]="{ 'height': '15px', 'width': '120px' ,'margin-bottom': '5px', }"></p-skeleton>
            </div>
            <div>
               <p-skeleton
                  [style]="{ 'height': '20px', 'width': '100px','margin-bottom': '5px','margin-top': '10px' }"></p-skeleton>
            </div>


         </div>

         <div>
            <p-skeleton
               [style]="{ 'height': '14   0px', 'width': '100%', 'margin-bottom': '5px','margin-top': '10px' }"></p-skeleton>
            <!-- <p-skeleton [style]="{ 'height': '15px', 'width': '120px' }"></p-skeleton> -->
         </div>
         <div class="" *ngFor="let item of [1, 2, 3]">
            <p-skeleton
               [style]="{ 'height': '50px', 'width': '100%','margin-bottom': '5px','margin-top': '10px' }"></p-skeleton>
            <!-- <p-skeleton [style]="{ 'height': '50px', 'width': '80%' }"></p-skeleton> -->
         </div>
         <div>
            <p-skeleton
               [style]="{ 'height': '20px', 'width': '150px', 'margin-bottom': '5px','margin-top': '10px' }"></p-skeleton>
            <!-- <p-skeleton [style]="{ 'height': '15px', 'width': '120px' }"></p-skeleton> -->
         </div>
         <div class="option-container">
            <ng-container *ngIf="loading">
               <p-skeleton class="option-item" *ngFor="let item of [1, 2, 3]" width="90%" height="70px"></p-skeleton>
            </ng-container>

         </div>
         <div>
            <p-skeleton
               [style]="{ 'height': '20px', 'width': '150px', 'margin-bottom': '5px','margin-top': '10px' }"></p-skeleton>
            <!-- <p-skeleton [style]="{ 'height': '15px', 'width': '120px' }"></p-skeleton> -->
         </div>
         <div>
            <p-skeleton
               [style]="{ 'height': '20px', 'width': '100%', 'margin-bottom': '5px','margin-top': '10px' }"></p-skeleton>
            <!-- <p-skeleton [style]="{ 'height': '15px', 'width': '120px' }"></p-skeleton> -->
         </div>
      </div>

      <!-- Address List -->

   </div>
   <br>
   <div *ngIf="!loading && !this.riderloader">
      <h2>Order Preview</h2>
      <div class="header">
         <h4>Pickup and Drop Location<span class="mandatory">*</span></h4>
         <h4 class="add">Distance {{ this.distance_value }} {{this.distance_unit}}</h4>
      </div>

      <div class="recent-order-items">
         <!-- Pickup Location -->
         <div class="recent-order-flex">
            <i class="pi pi-map-marker icon"></i>
            <div>
               <div class="add">Collect From:- {{ pickupLocation.person_name |
                  titlecase}}({{pickupLocation.person_phone_no
                  }})</div>
               <div class="address">{{ pickupLocation.house_no }}{{ pickupLocation.address_details }}</div>
            </div>
         </div>

         <div class="timeline"></div>

         <!-- Drop Location -->
         <div class="recent-order-flex">
            <i class="pi pi-map-marker icon"></i>
            <div>
               <div class="add">Drop To :- {{ dropLocation.person_name |titlecase}}({{dropLocation.person_phone_no }})
               </div>
               <div class="address">{{dropLocation.house_no}}{{ dropLocation.address_details }}</div>
            </div>
         </div>
      </div>

      <br>

      <!-- Delivery Types -->
      <h4>Delivery Type <span class="mandatory">*</span></h4>
      <div class="grid-3">
         <ng-container *ngIf="deliveryList.length >0">
            <ng-container *ngFor="let delivery of deliveryList">
               <div class="recent-order-items hovered" (click)="onDeliveryTypeSelect(delivery)" *ngIf="delivery?.pickup"
                  [class.selected]="selectedDeliveryType === delivery.id">
                  <div class="header">
                     <h4>{{delivery.delivery_name}}</h4>
                     <h4>{{this.businessDetails.currency_symbol}} {{delivery.price | number: '1.2-2'}} </h4>
                  </div>
                  <div>{{delivery.pickup_label}}.</div>

               </div>
            </ng-container>
         </ng-container>
      </div>

      <span *ngIf="deliveryList.length < 1" class="mandatory">No Delivery Type {{deliveryList}}</span>
      <!-- Payment Modes -->

      <h4 *ngIf="timeslot === '1'">Select Date Slot <span class="mandatory">*</span></h4>



      <p-calendar *ngIf="timeslot === '1'" [minDate]="minDate" id="dob" dateFormat="dd-mm-yy" appendTo="body"
         [showIcon]="true" [(ngModel)]="formattedDate" (onSelect)="onDateSelect($event)"
         [style]="{'width': '100%'}"></p-calendar>
      <small *ngIf="submitted && !this.formattedDate && timeslot === '1'" class="error-text">
         Please select a Slot Date
      </small>
      <h4 *ngIf="timeslot === '1'">Select Time Slot <span class="mandatory">*</span></h4>

      <p-select (onChange)="onSlotChange($event)" *ngIf="timeslot === '1'" [options]="timeSlot" optionValue="id"
         optionLabel="slot_name" placeholder="Select Time Slot" class="w-full">
      </p-select>
      <small *ngIf="submitted && !this.selectedSlot && timeslot === '1'" class="error-text">
         Please select a Slot Time
      </small>
      <br *ngIf="timeslot === '1'">

      <!-- Payment Modes -->
      <h4>Payment Modes <span class="mandatory">*</span></h4>



      <div class="container">
         <div class="recent-order-items" (click)="paymentTypesSelection('wallet')"
            [class.selected]="selectedPaymentType === 'wallet'">
            <i class="pi pi-wallet"></i> Wallet
         </div>
         <div class="recent-order-items" *ngIf="selectedDeliveryType !='43'" (click)="paymentTypesSelection('cash')"
            [class.selected]="selectedPaymentType === 'cash'">
            <i class="pi pi-money-bill"></i> Cash
         </div>

      </div>

      <h4>Payment at <span class="mandatory">*</span></h4>
      <p-select *ngIf="selectedPaymentType=== 'cash'" (click)="paymentType($event)" [options]="CashTypes"
         optionValue="value" optionLabel="name" placeholder="Payment At" class="w-full">
      </p-select>
   </div>
   <small *ngIf="submitted && !this.pay_on_pickup && selectedPaymentType=== 'cash'" class="error-text">
      Please select a Payment Location
   </small>

   <div *ngIf="selectedPaymentType=== 'wallet'">
      Available Wallet Balance: {{this.businessDetails.currency_symbol}}{{wallet ? wallet : 0 }}

   </div>
   <small *ngIf="submitted && wallet< this.sub_total  && selectedPaymentType== 'wallet'" class="error-text">
      Insufficient Balance
   </small>

   <div>






      <div class="text-center " style="margin-top: 10px; ">
         <div class="space">
            <button pButton class="p-button-outlined p-button-danger ml-5" label="Cancel" (click)="cancel()"></button>
            <button [loading]="loading_button" [disabled]="loading_button" pButton type="submit" label="Submit"
               (click)="getlastinvoice()"></button>
         </div>
      </div>
   </div>
   <div>
      <div class="searching-rider-container" *ngIf="!loading && this.riderloader">
         <div class="mandatory" style="margin-top: 10px; text-align: end;">

            <i class="pi pi-trash" (click)="cancels()"></i>

            <!-- <button pButton class="p-button-outlined p-button-danger ml-5" label="Cancel" ></button> -->


         </div>
         <div>

            <p class="search-text">Searching for a rider<span class="dots"></span></p>
         </div>
         <img src="assets/brand/rider2.gif" alt="" [@searching]="animationState">
         <!-- <i class="pi pi-spin pi-spinner" [@searching]="animationState"></i> -->

      </div>


   </div>