<h2>Order Preview</h2>
<!-- <div class="thin">Preview your order</div> -->
<br>

<div class="header">
   <h4>Pickup and Drop Location</h4>
   <h4 class="add">Distance {{ this.newOrder?.distance}}</h4>
</div>

<div class="recent-order-item">
   <!-- Pickup Location -->
   <div class="recent-order-flex">
      <i class="pi pi-map-marker icon"></i>
      <div>
         <div class="add">Collect From:- {{ pickupLocation.person_name |titlecase}}({{pickupLocation.person_phone_no }} )</div>
         <div class="address">{{pickupLocation.house_no}}{{ pickupLocation.address_details }}</div>
      </div>
   </div>

   <div class="timeline"></div>

   <!-- Drop Location -->
   <div class="recent-order-flex">
      <i class="pi pi-map-marker icon"></i>
      <div>
         <div class="add">Drop To :- {{ dropLocation.person_name |titlecase}}({{dropLocation.person_phone_no }})</div>
         <div class="address">{{dropLocation.house_no}}{{ dropLocation.address_details }}</div>
      </div>
   </div>
</div>

<br>

<!-- Delivery Types -->
<h4>Delivery Type</h4>
<div class="recent-order-item"  *ngFor="let delivery of deliveryList" (click)="onDeliveryTypeSelect(delivery)" [class.selected]="selectedDeliveryType === delivery.id" >
   <div class="header" *ngIf="delivery?.pickup">
      <h4>{{delivery.delivery_name}}</h4>
      <h4>{{this.businessDetails.currency_symbol}} {{delivery.price | number: '1.2-2'}} </h4>
   </div>
   <div>{{delivery.pickup_label}}{{delivery.eta}}.</div>
</div>

<p-select *ngIf="timeslot === '1'"  
          [options]="timeSlot" 
          optionValue="id" 
          optionLabel="slot_name" 
          placeholder="Select Time Slot" 
          class="w-full">
</p-select>


<br>

<!-- Payment Modes -->
<h4>Payment Modes</h4>
<div class="container">
   <div class="recent-order-item">
      <i class="pi pi-credit-card"></i> Online
   </div>
   <div class="recent-order-item">
      <i class="pi pi-wallet"></i> Wallet
   </div>
   <div class="recent-order-item">
      <i class="pi pi-money-bill"></i> Cash
   </div>
</div>
<br>
<br>
<div class="text-center">
   <div class="space">
      <button pButton class="p-button-outlined p-button-danger ml-5" label="Cancel"></button>
      <button pButton type="submit" label="Submit" (click)="getlastinvoice()"></button>
   </div>
</div>