.recent-order-items {
   border: 1px solid var(--primary-light);
   border-radius: 8px;
   padding: 12px;
   margin-top: 10px;
   position: relative;
}

.thin {
   font-weight: 300;
   font-size: 16px;
}

p-skeleton {
   border-radius: 4px;
   /* Rounded corners for skeletons */
   display: block;
   /* Ensures proper alignment in flex containers */
}

.error-text {
   color: red;
   font-size: 12px;
   margin-top: 4px;
   display: block;
}

.error-border {
   border: 1px solid red !important;
}

.recent-order-flex {
   display: flex;
   align-items: center;
   gap: 10px;
}

.hovered {
   cursor: pointer;
}

.hovered:hover {
   box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.p-confirm-dialog-icon {
   color: red !important;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.grid-3 {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
}

.mandatory {
   color: red;
   font-size: 16px;
   margin-left: 5px;
}

.w-full {
   width: 100%;
   margin-top: 5px;
}

.recent-order-items.disabled {
   opacity: 0.5;
   pointer-events: none;
   /* Prevents clicks */
   cursor: not-allowed;
}

.add {
   font-size: 14px;
   font-weight: 600;
}

.icon {
   color: var(--primary-color);
   font-size: 1.2rem;
}

.container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 12px;
}

.address {
   font-size: 0.9rem;
   color: gray;
}

.timeline {
   border-left: 2px dotted gray;
   height: 20px;
   margin: 10px 8px;
}

.text-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.ml-5 {
   margin-right: 10px;
}

.selected {
   border-color: #007bff;
   background-color: #e6f7ff;
}

@media screen and (max-width: 768px) {
   .grid-3 {
      display: block;
   }
}


.close-icon {
   /* position: absolute !important; */
   top: 5px;
   right: 100% !important;
   cursor: pointer;
   font-size: 18px;
   color: red;
   font-weight: bold;
}





.searching-rider-container {


   z-index: 9999;
   overflow: hidden;

}

.rider-loader {
   width: 50px;
   height: 50px;
   border: 5px solid #ccc;
   border-top-color: #007bff;
   border-radius: 50%;
   animation: spin 1s linear infinite;
   transform: scale(0.4) !important;
   overflow: hidden;
}

img {
   /* position: absolute; */
   /* top: 40%; */
   left: 20%;
   /* transform: scale(0.4); */
   width: 100%;
   /* height: 70%; */
   z-index: 9999999;
   margin-top: 10px;


}

.search-text {
   margin-bottom: 40px;
   font-size: 20px;
   font-weight: bold;
   text-align: center;
}


.dots::after {
   content: "";
   animation: dots 1.5s infinite steps(4);
}

@keyframes spin {
   100% {
      transform: rotate(360deg);
   }
}

@keyframes dots {
   0% {
      content: "";
   }

   25% {
      content: ".";
   }

   50% {
      content: "..";
   }

   75% {
      content: "...";
   }
}


.recent-order-item {
   border: 1px solid var(--primary-light);
   margin-bottom: 10px;
   border-radius: 8px;
   min-height: 90px;
   padding: 8px 12px;
   cursor: pointer;
   background: var(--background-light);
   /* Optional background for cards */
}

.recent-order-item:hover {
   box-shadow: 0px 0px 0.5px 1px var(--primary-light);
}

.recent-order-flex {
   display: flex;
   /* justify-content: space-between; */
   align-items: flex-start;
   /* Aligns skeletons at the top */
}

.option-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.p-confirmdialog-icon {
   color: red !important;
}

.d-flex {
   display: flex;
}

.justify-content-between{
   justify-content: space-between;
}

.mt-2{
   margin-top: 16px;
}

.font-weight-bold{
   font-weight: bold;
}
@media screen and (max-width: 768px) {
   .rider-img {
     width: 150px; /* Smaller on mobile */
   }
 }
 
.rider-img {
   width: 350px; /* Fixed width */
   height: auto; /* Maintain aspect ratio */
   display: block;
   margin: 0 auto; /* Center the image */
   margin-top: 10px;
   z-index: 10;
 }
 .close-icon {
 
   cursor: pointer;
   font-size: 18px;
   color: red;
   font-weight: bold;
}
.selected-coupon {
   border: 1px solid var(--primary-light);
   margin-bottom: 10px;
   margin-top: 10px;
   border-radius: 8px;
   min-height: 60px;
   padding: 8px 12px;
}

.recent-order-item:hover {
   box-shadow: 0px 0px 0.5px 1px var(--primary-light);
}

.recent-order-flex {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   /* Aligns skeletons at the top */
}