<div class="layout-wrapper">
   <!-- Topbar -->
   <div class="topbar">
      <!-- Search bar (visible on larger screens) -->
      <div class="search-bar" *ngIf="!isSmallDevice">
         <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" (input)="onSearch()" />
         <button pButton icon="pi pi-search" class="search-btn"></button>
      </div>

      <!-- Left-aligned icons for smaller devices (hamburger and search) -->
      <div class="topbar-left" *ngIf="isSmallDevice && showProfileBar ">
         <button pButton icon="pi pi-bars" class="menu-toggle" (click)="toggleSidebar()"></button>
         <!-- <button pButton icon="pi pi-search" class="menu-toggle search-icon" (click)="toggleSearch()"></button> -->

      </div>
      <div class="mobile-search-bar" *ngIf="isSmallDevice  && showSearchBar && showProfileBar">
         <div class="search-bar">
            <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" (input)="onSearch()" />
            <button pButton icon="pi pi-search" class="search-btn" (click)="cancel()"></button>
         </div>
      </div>
      <!-- Right-aligned icons for notification and user profile -->
      <div class="topbar-right" *ngIf=" showProfileBar">
         <!-- <button pButton icon="pi pi-bell" class="topbar-btn"></button> -->
         <button pButton icon="pi pi-user" routerLink="/settings" class="topbar-btn"></button>
         <p-confirmDialog></p-confirmDialog>
         <!-- <button
            pButton
            icon="pi pi-sign-out"
            class="topbar-btn"
            type="button" (click)="logout()"
   >
         </button> -->
      </div>
   </div>

   <!-- Main Layout -->
   <div class="main-layout">
      <!-- Sidebar -->
      <div class="sidebar" [class.hidden]="!isSidebarVisible && isSmallDevice">
         <div class="sidebar-logo-container">
            <img class="sidebar-logo" src="assets/brand/logo.png" alt="logo-png">
         </div>
         <div style="font-size: x-large;text-align: center;  color: var(--text-primary);">
            Wallet : {{this.businessDetail ? this.businessDetail.currency_symbol : '₹'}}{{wallet | number :'1.0-0'}}
         </div>

         <ul>
            <li routerLink="/dashboard"><a routerLink="/dashboard" routerLinkActive="active"
                  (click)="toggleSidebar()"><i class="pi pi-home"></i> Dashboard</a></li>
            <li routerLink="/orders"><a routerLink="/orders" routerLinkActive="active" (click)="toggleSidebar()"><i
                     class="pi pi-box"></i>
                  Orders</a></li>
            <li routerLink="/address/list-of-address"><a routerLink="/address/list-of-address" routerLinkActive="active"
                  (click)="toggleSidebar()"> <i class="pi pi-map-marker icon"></i>
                  Saved Address</a></li>
            <!-- <li routerLink="/customers" (click)="toggleSidebar()"><a routerLink="/customers" routerLinkActive="active"
                  (click)="toggleSidebar()"><i class="pi pi-users"></i> Customers</a></li> -->
            <!-- <li routerLink="/transactions"><a routerLink="/transactions" routerLinkActive="active"
                  (click)="toggleSidebar()"><i class="pi pi-credit-card"></i> Transactions</a>
            </li> -->


            <li routerLink="/settings"> <a routerLink="/settings" routerLinkActive="active" (click)="toggleSidebar()"><i
                     class="pi pi-user"></i>
                  Profile</a></li>

            <li (click)="logout();"><a routerLinkActive="active" class="red" (click)="logout();toggleSidebar()"><i
                     class="pi pi-sign-out red"></i>
                  Logout</a></li>
         </ul>
      </div>

      <!-- Content -->
      <div class="content">
         <router-outlet></router-outlet>
      </div>
   </div>
</div>