/* Wrapper for the layout */
.layout-wrapper {
   display: flex;
   flex-direction: column;
   height: 100vh;
}

/* Topbar styling */
.topbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: white;
   color: var(--text-primary);
   padding: 5px 20px;
   height: 60px;
   width: calc(100% - 250px);
   position: fixed;
   top: 0;
   left: 250px;
   z-index: 1;
}

/* Left-aligned icons (hamburger, search) on small devices */
.topbar-left {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 90px;
}

/* Right-aligned icons (notification, profile) */
.topbar-right {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 90px;
}

/* Topbar buttons (hamburger, search, notification, profile) */
.topbar-btn,
.menu-toggle,
.search-icon {
   background-color: transparent;
   border: none;
   color: var(--text-primary);
   font-size: 1.5rem;
   cursor: pointer;
}

/* Search bar styling (visible on larger screens) */
.search-bar {
   display: flex;
   align-items: center;
   background-color: var(--neutral-light);
   padding: 5px 10px;
   border-radius: 25px;
}

.search-bar-mobile {
   display: flex;
   align-items: center;
   background-color: var(--neutral-light);
   padding: 5px 10px;
   border-radius: 25px;
   width: 100%;
   /* Full width */
   max-width: 400px;
   /* Limit the max width */
   margin: 0 auto;
   /* Center the search bar */
   display: none;
   /* Hide by default */
}

/* Search bar input styling */
.search-bar input {
   border: none;
   background: transparent;
   padding: 5px;
   width: 100%;
   /* Full width */
   font-size: 1rem;
   outline: none;
   box-shadow: none;
}

/* Search bar input focus state */
.search-bar input:focus {
   border: none;
   outline: none;
   box-shadow: none;
}

/* Search button styling */
.search-bar .search-btn,
.search-bar-mobile .search-btn {
   background-color: transparent;
   border: none;
   color: var(--text-primary);
   font-size: 1.2rem;
   cursor: pointer;
}

/* Search icon (visible on smaller devices) */
.search-icon {
   background-color: transparent;
   border: none;
   color: var(--text-primary);
   font-size: 1.5rem;
   cursor: pointer;
}

/* Hamburger icon button (visible only on small devices) */
.menu-toggle {
   background-color: transparent;
   border: none;
   color: var(--text-primary);
   font-size: 1.5rem;
   cursor: pointer;
}

/* Sidebar styling */
.sidebar {
   width: 250px;
   background-color: var(--neutral-light);
   padding: 10px 20px;
   height: 100vh;
   position: fixed;
   top: 0;
   transition: transform 0.3s ease-in-out;
}

.sidebar-logo-container {
   height: 90px;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.sidebar-logo {
   height: 120px;
}

/* Sidebar hidden class for mobile */
.sidebar.hidden {
   transform: translateX(-100%);
}

/* Sidebar list styling */
.sidebar ul {
   list-style: none;
   padding: 0;
}

.sidebar ul li {
   margin: 16px 0;
   padding: 8px;
}

.sidebar ul li a {
   text-decoration: none;
   color: var(--text-secondary);
   font-weight: bold;
}

.sidebar ul li a.active {
   color: var(--primary-main);
   /* border: 1px solid var(--primary-main); */
}

.sidebar ul li a i {
   margin-right: 12px;
   /* Adds space between the icon and text */
   display: inline-flex;
   align-items: center;
}

/* Content styling */
.content {
   flex: 1;
   padding: 20px;
   overflow-y: auto;
   margin-left: 250px;
   margin-top: 45px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
   .topbar {
      width: 100%;
      left: 0;
      justify-content: space-between;
   }

   .search-bar {
      display: none;
      /* Hide desktop search bar */
   }

   .search-bar-mobile {
      display: flex;
      /* Show mobile search bar */
   }

   .topbar-left {
      width: 90px;
   }

   .topbar-right {
      display: flex;
   }

   .sidebar {
      position: absolute;
      top: 60px;
      height: calc(100vh - 60px);
      transform: translateX(-100%);
   }

   .sidebar.hidden {
      transform: translateX(-100%);
   }

   .sidebar:not(.hidden) {
      transform: translateX(0);
   }

   .main-layout {
      position: relative;
      margin-top: 0;
   }

   .content {
      margin-left: 0;
   }

   .menu-toggle {
      display: block;
   }
}