<div>
   <p-card class="signin-card">
      <h2>Sign Up</h2>
      <div>Welcome to Dropzone</div>
      <form (ngSubmit)="onSubmit()" class="signin-form" [formGroup]="signInForm">
         <div class="p-field">
            <div class="thin">Name <span class="mandatory">*</span></div>
            <input class="full-width" id="email" type="text" pInputText placeholder="Enter your Name"
               formControlName="first_name" name="email" required />
         </div>
         <div class="p-field">
            <div class="thin">Email <span class="mandatory">*</span></div>
            <input class="full-width" id="email" type="email" pInputText placeholder="Enter your Email"
               formControlName="email" name="email" required />
         </div>
         <div class="p-field">
            <div class="thin">Phone <span class="mandatory">*</span></div>
            <input class="full-width" id="email" type="text" pInputText minlength="10" maxlength="10"
               placeholder="Enter your Phone" formControlName="phone" name="email" required />
         </div>
         <div class="p-field">
            <div class="thin">Password <span class="mandatory">*</span></div>
            <!-- <p-password class="full-width" id="password" toggleMask formControlName="password"
               placeholder="Enter your Password" inputStyleClass="full-width">
            </p-password> -->
            <div class="password-container">
               <input class="full-width" id="password" [type]="showPassword ? 'text' : 'password'" pInputText
                  placeholder="Enter your Password" formControlName="password" name="password" required />

               <i class="pi" [class.pi-eye]="!showPassword" [class.pi-eye-slash]="showPassword"
                  (click)="togglePasswordVisibility()"></i>
            </div>
         </div>
         <div class="p-field">
            <div class="thin">City <span class="mandatory">*</span></div>
            <div class="password-container">
               <p-select 
              [options]="super_admin_list"
               formControlName="super_admin"
               optionValue="id"
               optionLabel="name"
               class="w-full md:w-100">
             </p-select>
             </div>
          
        
    
           

     
         </div>
         <div class="form-actions flex">
            <button type="submit" pButton label="Sign Up" class="p-button-primary" [disabled]="loading"
               [loading]="loading">
            </button>

         </div>
         <br>
         <a (click)="redirectToSignUp()" class="margin-top" routerLinkActive="active">Already have account <span
               class="sign"> Login</span> </a>
      </form>
   </p-card>
</div>