<section style="margin-top: -14px;margin-bottom:-14px ;">


<h2 style="margin-bottom:-14px ;" *ngIf="!loading">Welcome, {{this.userInfo?.first_name | titlecase }} <br> {{this.businessDetails?.name | titlecase
   }} </h2>
<p-skeleton *ngIf="loading" height="2rem" width="50%"></p-skeleton>
<br>


<p-carousel *ngIf="!loading" [value]="listofBanner" [numVisible]="1" [numScroll]="1" [circular]="true"
   [autoplayInterval]="4000" [showIndicators]="true">

   <ng-template pTemplate="item" let-listofBanner>
      <img [src]="listofBanner.image" alt="banner" style="width: 100%;" (click)="navigateTo(listofBanner.link)" />
   </ng-template>

</p-carousel>

<br><br>


<div class="option-container">
   <ng-container *ngIf="loading; else optionsContent">
      <p-skeleton class="option-item" *ngFor="let item of [1, 2, 3]" width="90%" height="40px"></p-skeleton>
   </ng-container>
   <ng-template #optionsContent>
   
      <div class="option-container-item" routerLink="/orders">
         <div class="option-item full-height">
            <i class="pi pi-box"></i>
            <a class="router-link">Orders</a>
         </div>
      </div>
      <div class="option-container-item" routerLink="/address/list-of-address">
         <div class="option-item full-height">
            <i class="pi pi-map-marker icon"></i>
            <a class="router-link">Saved Address</a>
         </div>
      </div>
      <div class="option-container-item" routerLink="/orders/new-order">
         <div class="option-item full-height">
            <i class="pi pi-plus-circle"></i>
            <a class="router-link">New Order</a>
         </div>
      </div>
   </ng-template>
</div>


<br>
<h3 *ngIf="!loading">Recent Orders</h3>
<div class="recent-orders-container" *ngIf="loading">
   <div class="recent-order-item" *ngFor="let item of [1, 2, 3]">
      <p-skeleton width="60%" height="20px"></p-skeleton>
      <p-skeleton width="40%" height="20px"></p-skeleton>
      <p-skeleton width="90%" height="40px"></p-skeleton>
   </div>
</div>
<div class="recent-orders-container" *ngIf="!loading">
   <ng-container *ngIf="order.length==0">
      <app-no-data-found></app-no-data-found>
   </ng-container>
   <div class="recent-order-item" *ngFor="let order of order" (click)="navigateToOrderDetails(order.invoice_id)">
      <div class="recent-order-flex">
         <div>

            <div class="subtext2 mt-2">From: <span class="maintext">{{ order.pickup_person_name | titlecase }}</span>
            </div>
            <div>{{order?.pickup_phone_no}}</div>
            <div class="subtext2 mt-2">To: <span class="maintext">{{ order?.drop_person_name| titlecase }}</span></div>

            <div class="subtext">{{order?.drop_phone_no}}</div>

         </div>
         <div class="order-no">
            <div class="subtext2">Order No.</div>
            <div  style="display: flex; justify-content: flex-end;"><span class="maintext2 ">#{{order.order_no}}</span></div>
            <div class="maintext3" [ngClass]="{
               'text-success': order.status_name == 'Delivered',
               'text-danger ': order.status_name == 'Cancelled',
               'text-dark': order.status_name!== 'Delivered' && order.status_name !== 'Cancelled'
            }">{{order.status_name}}</div>
         </div>
      </div>


   </div>

</div>
<br>

</section>