<!-- Original content -->
<h2 *ngIf="!loading">Welcome Back, User👋 </h2>
<p-skeleton *ngIf="loading" height="2rem" width="50%"></p-skeleton>
<br>

<!-- Banner with Skeleton -->
<div *ngIf="loading">
   <p-skeleton class="banner-img" height="150px"></p-skeleton>
</div>
<img *ngIf="!loading" class="banner-img"
   src="https://ik.imagekit.io/praveenarbs/api-images/super-announcement/24/17368555934940400.jpg" alt="banner" />
<br><br>

<!-- Options as Actions -->
<div class="option-container">
   <ng-container *ngIf="loading; else optionsContent">
      <p-skeleton class="option-item" *ngFor="let item of [1, 2, 3]" width="90%" height="40px"></p-skeleton>
   </ng-container>
   <ng-template #optionsContent>
      <div>
         <div routerLink="/orders/new-order" class="option-item"><i class="pi pi-box"></i> Orders</div>
         <div routerLink="/customers/new-customer" class="option-item"><i class="pi pi-users"></i> Customers</div>
      </div>
      <div class="option-container-item" routerLink="/customers/new-customer">
         <div class="option-item full-height">
            <i class="pi pi-user-plus"></i>
            <a class="router-link">New Customer</a>
         </div>
      </div>
      <div class="option-container-item" routerLink="/orders/new-order">
         <div class="option-item full-height">
            <i class="pi pi-plus-circle"></i>
            <a class="router-link">New Order</a>
         </div>
      </div>
   </ng-template>
</div>

<!-- Recent Orders -->
<br>
<h3 *ngIf="!loading">Recent Orders</h3>
<div class="recent-orders-container" *ngIf="loading">
   <div class="recent-order-item" *ngFor="let item of [1, 2, 3]">
      <p-skeleton width="60%" height="20px"></p-skeleton>
      <p-skeleton width="40%" height="20px"></p-skeleton>
      <p-skeleton width="90%" height="40px"></p-skeleton>
   </div>
</div>
<div class="recent-orders-container" *ngIf="!loading">
   <div class="recent-order-item"  *ngFor="let order of order">
      <div class="recent-order-flex">
         <div>
            <div class="subtext2">Drop Address</div>
            <div class="maintext">{{order.drop_name | titlecase}}</div>
            <div class="subtext2">{{order.drop_mobile}}</div>
            <div class="subtext2 mt-2">Pickup Address</div>
            <div class="maintext">{{order.pickup_name | titlecase}}</div>
            <div class="subtext2">{{order.pickup_mobile}}</div>
         </div>
         <div class="order-no">
            <div class="subtext2">Order No.</div>
            <div class="maintext2">#{{order.order_no}}</div>
         </div>
      </div>
      <!-- <div class="recent-order-flex">
         <div class="address">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
         </div>
         <button severity="warn" pButton type="button" label="Pending" class="p-button-outlined" size="small"></button>
      </div> -->
   </div>

</div>
<br>

<!-- Coupons -->
<div *ngIf="loading">
   <p-skeleton class="banner-img" height="150px"></p-skeleton>
</div>
<img *ngIf="!loading" class="banner-img" src="https://dropzonevendor.magicqr.in/assets/img/theme/coupan.jpg"
   alt="coupon" />