<!-- Original content -->
<h2>👋 Welcome Back, User</h2>
<br>
<img class="banner-img" src="https://ik.imagekit.io/praveenarbs/api-images/super-announcement/24/17368555934940400.jpg"
   alt="banner" />
<br><br>

<!-- Options as Actions -->
<div class="option-container">
   <div>
      <div class="option-item"><i class="pi pi-box"></i> Orders</div>
      <div class="option-item"><i class="pi pi-users"></i> Customers</div>
   </div>
   <div class="option-container-item">
      <div class="option-item full-height"><i class="pi pi-user-plus"></i> New Customer</div>
   </div>
   <div class="option-container-item">
      <div class="option-item full-height"><i class="pi pi-plus-circle"></i> New Order</div>
   </div>
</div>

<!-- Recent Orders -->
<br>
<h3>Recent Orders</h3>
<div class="recent-orders-container">
   <div class="recent-order-item">
      <div class="recent-order-flex">
         <div>
            <div class="maintext">Visitor</div>
            <div class="subtext">+91 9876543210</div>
         </div>
         <div>
            Order No: #1006
         </div>
      </div>
      <div class="recent-order-flex">
         <div class="address">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
         </div>
         <button severity="warn" pButton type="button" label="Pending" class="p-button-outlined"
            size="small"></button>
      </div>
   </div>
   <div class="recent-order-item">
      <div class="recent-order-flex">
         <div>
            <div class="maintext">Visitor</div>
            <div class="subtext">+91 9876543210</div>
         </div>
         <div>
            Order No: #1006
         </div>
      </div>
      <div class="recent-order-flex">
         <div class="address">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
         </div>
         <button severity="warn" pButton type="button" label="Pending" class="p-button-outlined"
            size="small"></button>
      </div>
   </div>
   <div class="recent-order-item">
      <div class="recent-order-flex">
         <div>
            <div class="maintext">Visitor</div>
            <div class="subtext">+91 9876543210</div>
         </div>
         <div>
            Order No: #1006
         </div>
      </div>
      <div class="recent-order-flex">
         <div class="address">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
         </div>
         <button severity="warn" pButton type="button" label="Pending" class="p-button-outlined"
            size="small"></button>
      </div>
   </div>
</div>

<br>

<!-- Coupons -->
<img class="banner-img" src="https://dropzonevendor.magicqr.in/assets/img/theme/coupan.jpg"
   alt="coupon" />