.banner-img {
   width: 100%;
   height: auto;
   aspect-ratio: 3 / 1;
   object-fit: cover;
   object-position: center;
}

p-skeleton.banner-img {
   width: 100%;
   height: auto;
   aspect-ratio: 3 / 1;
}

.option-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.order-no {
   text-align: end;
}

.option-item {
   display: flex;
   align-items: center;
   border: 1px solid var(--primary-light);
   border-radius: 8px;
   padding: 1rem;
   margin: 0.4rem;
   gap: 0.5rem;
   cursor: pointer;
   transition: background-color 0.3s ease, color 0.3s ease;
}

.option-item:hover {
   background-color: var(--primary-light, #f0f0f0);
   color: var(--pure-white);
}

.option-item i {
   transition: color 0.3s ease;
}

.option-item:hover i {
   color: var(--pure-white);
}

.full-height {
   height: 90%;
}

.recent-orders-container {
   margin-top: 1rem;
}

.recent-order-item {
   border: 1px solid var(--primary-light);
   border-radius: 8px;
   margin: 10px 0px;
   min-height: 90px;
   padding: 8px 12px;
   cursor: pointer;
}

.recent-order-item:hover {
   box-shadow: 0px 0px 0.5px 1px var(--primary-light);
}

.recent-order-flex {
   display: flex;
   justify-content: space-between;
}

.maintext {
   font-size: medium;
   font-weight: 500;
}

.maintext2 {
   font-size: large;
   font-weight: 500;
   margin-bottom: 10px;
}

.subtext {
   font-size: 0.9rem;
   margin-bottom: 10px;
}

.subtext2 {
   font-size: 0.7rem;
}

.address {
   font-size: 16px;
   width: 60%;
   display: -webkit-box;
   line-clamp: 2;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.router-link {
   color: inherit;
   text-decoration: none;
}

.router-link:hover {
   text-decoration: none;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 768px) {
   .banner-img {
      aspect-ratio: 16 / 9;
   }

   p-skeleton.banner-img {
      aspect-ratio: 16 / 9;
   }

   .option-item {
      padding: 0.8rem;
   }

   .full-height {
      height: 88%;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   .recent-orders-container {
      margin-top: 1rem;
   }
}