<h2>Edit Address</h2>
<!-- <div class="thin">Search and add a new address location</div><br> -->

<div class="container">
  
 



   <form  [formGroup]="projectForm">
      <div class="form-group" style="margin-top: 10px;">
         <div class="address_details">Address Detail <span class="mandatory">*</span></div>
         <h4>{{projectForm.get('address_details').value}}</h4>
         <!-- <textarea pInputText p-autoTextarea id="address_details" type="text" formControlName="address_details"
            [ngClass]="{'error-border': submitted && projectForm.get('address_details')?.invalid}" readonly></textarea>
         <small
            *ngIf="submitted &&  projectForm.get('address_details')?.hasError('required') && projectForm.get('address_details')?.invalid "
            class="error-text">
            Address Detail is required
         </small>
         <small *ngIf=" projectForm.get('address_details')?.hasError('pattern')" class="error-text">
            Invalid address format. Please enter a valid address.
         </small> -->
      </div>

      <div class="form-group " style="margin-top: 10px;">
         <div class="address_details">Name <span class="mandatory">*</span></div>
         <input pInputText id="address_details" type="text" formControlName="person_name"
            [ngClass]="{'error-border': submitted && projectForm.get('person_name')?.invalid}" />

      </div>
      <small
         *ngIf="submitted &&  projectForm.get('person_name')?.hasError('required') && projectForm.get('person_name')?.invalid"
         class="error-text">
         Name is required
      </small>
      <small *ngIf="projectForm.get('person_name')?.hasError('pattern')" class="error-text">
         Name should contain only alphabets.
      </small>
      <div class="form-group">
         <div class="address_details">Phone <span class="mandatory">*</span></div>
         <input pInputText id="city" type="text" maxlength="10" minlength="10" formControlName="person_phone_no"
            [ngClass]="{'error-border': submitted && projectForm.get('person_phone_no')?.invalid}" />
      </div>
      <small
         *ngIf="submitted &&  projectForm.get('person_phone_no')?.hasError('required') && projectForm.get('person_phone_no')?.invalid"
         class="error-text">
         Phone is required
      </small>
      <small *ngIf="projectForm.get('person_phone_no')?.hasError('pattern')" class="error-text">
         Phone should contain only number.
      </small>
      <small *ngIf="projectForm.get('person_phone_no')?.hasError('minlength')" class="error-text">
         Phone number must be at least 10 digits long.
      </small>

      <small *ngIf="projectForm.get('person_phone_no')?.hasError('maxlength')" class="error-text">
         Phone number cannot exceed 10 digits.
      </small>
      <div class="form-group">
         <div class="address_details">Address Title <span class="mandatory">*</span></div>
         <input pInputText id="state" type="text" formControlName="address_name"
            [ngClass]="{'error-border': submitted && projectForm.get('address_name')?.invalid}" />
      </div>
      <small
         *ngIf="submitted &&  projectForm.get('address_name')?.hasError('required') && projectForm.get('address_name')?.invalid"
         class="error-text">
         Address Title are required
      </small>
      <div class="form-group">
         <div class="address_details">Floor, Flat, House.no, Building, Apartment</div>
         <input pInputText id="house_no" type="text" formControlName="house_no" />
      </div>

      <div class="form-group">
         <div class="address_details">Landmark</div>
         <input pInputText id="landmark" type="text" formControlName="landmark" />
      </div>

      <!-- <div class="form-group">
         <div class="address_details">City <span class="mandatory">*</span></div>
         <input pInputText type="text" formControlName="city" readonly />
      </div> -->
      <div class="form-group">
         <div class="address_details">Pincode</div>
         <input pInputText type="text" maxlength="6" minlength="6" formControlName="postal_code"  />
      </div>
   </form>

   <div  style="display: flex; justify-content: center; " >
      <button pButton label="Update" class="save-btn" (click)="editAddress()"></button>
   </div>
</div>