.selected {
   border-color: #007bff;
   background-color: #e6f7ff;
}

.thin {
   font-weight: 300;
   font-size: 16px;
}

.vehicle-image {
   width: 40px;
   height: 40px;
   object-fit: cover;
   border-radius: 50%;
}

.vehicle-name {
   font-size: 14px;
   font-weight: 600;
   color: #333;
}

.mandatory {
   color: red;
   font-size: 16px;
   margin-left: 5px;
}

.text-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.space {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.ml-5 {
   margin-right: 10px;
}

.card-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   margin-bottom: 14px;
   /* Add padding for better alignment */
   /* padding: 0 10px; */
}

.w-full {
   width: 100%;
   margin-top: 5px;
   padding: 3.2px;
   border: 1px solid #ccc;
}

.card-container input {
   padding: 12px;
   margin-bottom: 10px;
   margin-top: 5px;
   font-size: 14px;
   border: 1px solid #ccc;
   border-radius: 4px;
   width: 100%;
}

.map-button {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 8px;
   font-size: 14px;
   border: 1px solid #ccc;
   border-radius: 4px;
   background-color: var(--info-main);
   color: var(--text-secondary);
}

.drop-location {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 10px;
   justify-content: space-between;
   align-items: center;
   font-size: 14px;
   border-radius: 4px;
}

.button-group {
   display: flex;
   justify-content: flex-end;
   gap: 10px;
   margin-top: 10px;
}

.bottom-buttons {
   display: flex;
   justify-content: center;
   margin-top: 20px;
   gap: 20px;
}

/* Skeleton Loader Styles */
.full-page-skeleton {
   padding: 1rem;
}

.heading-skeleton {
   margin-bottom: 1rem;
}

.card-skeleton {
   margin-bottom: 1rem;
}

.input-skeleton {
   margin-bottom: 0.5rem;
}

.button-group {
   display: flex;
   justify-content: space-between;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 1024px) {
   .card-container {
      grid-template-columns: 1fr 1fr;
   }
}

@media screen and (max-width: 768px) {
   .card-container {
      display: block;
   }

   .mb {
      margin-bottom: 6px;
   }

   .hidden {
      display: none;
   }

   /* Adjust buttons for smaller screens */
   .button-group {
      flex-direction: column;
      justify-content: center;
   }

   .button-group p-skeleton {
      width: 100%;
      margin-bottom: 10px;
   }
}

@media screen and (max-width: 480px) {
   .card-container {
      grid-template-columns: 1fr;
   }

   .ml-5 {
      margin-right: 15px;
   }

   .space {
      flex-direction: row;
   }
}
